{% extends 'base.html.twig' %}

{# parent () permet de récuperer ce que contient le bloc de la base #}
{% block title %}{{ parent() }} | Home {% endblock %}

{# si je rédefinis le contenu, j'ecrase le contenu present dans la base #}
{% block body %}
<h1> Welcome to Series !</h1>
{% endblock %}